@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden; /* 넘치는 부분을 잘려서 보여주지 않게한다.*/
}


.sidebar{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 240px;
    background: #11101d;
    padding: 6px 14px;
}
.sidebar .log_content .logo{
    color:#fff;
    display: flex;
    height: 50px;
    width:100%;
    align-items:center;

}
.log_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}
.log_content .logo .logo_name{
    font-szie:20px;
    font-weight: 400;
}
.sidebar #btn{
    position: absolute;
    color: #fff;
    left:90%;
    top:6px;
    font-size:20px;
    height: 50px;
    width:50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar ul{
    margin-top:20px;

}
.sidebar ul li{
    position:relative;
    height: 50px;
    width:100%;
    margin:0 5px;
    list-style: none;
    line-height: 50px;
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top:50%;
    transform: translateY(-50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
}
.sidebar ul li input{
    position: absolute;
    height:100%;
    width:100%;
    left: 0;
    top:0;
    border-radius: 12px;
    outline: none;
    border:none;
    padding-left:50px;
    background: #1d1b31;
    font-size: 18px;
    color:#fff;
}
.sidebar ul li  .bx-search{
    position:absolute;
    z-index: 99;
    color:#fff;
    font-size: 22px;
}
.sidebar ul li a{
    color:#fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;

}
.sidebar ul li a:hover{
    color:#11101d;
    background: #fff;
}
.sidebar ul li  i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align:center;
}
.sidebar .profile_content{
    position: absolute;
    color:#fff;
    bottom: 0;
    left:0;
    width:100%;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #1d1b31;
}
.sidebar .profile_content .profile .profile_detail{
    display: flex;
    align-items: center;
}
.profile .profile_detail img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile_detail .name_job{
    margin-left: 10px;

}
.profile .profile_detail .name{
    font-size:15px;
    font-weight: 400;
}
.profile .profile_detail .job{
    font-size:12px;
}
.profile #log_out{
    position: absolute;
    left:88%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size:20px;
    border-radius: 12px;
}
.home_content{
    position:absolute;
    height:100px;
    width: calc(100% - 240px);
    left:240px;
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color:#1d1b31;
    margin: 12px;

}